@import "leaflet/dist/leaflet.css";
/* Ensure html and body take the full height */
html, body, #root {
  height: 100%;
  margin: 0;  /* Remove default margin */
}

#root {
  display: flex;
  flex-direction: column;
}

